.idea__form
  .idea__form__title
    アイデア入力欄
  = form_with model: @idea, local: true do |f|
    .idea__form__box
      アイデア名
      %br
      = f.text_field :name, class: "idea__form__box__field"
    .idea__form__box
      URL
      %br
      = f.text_field :url, class: "idea__form__box__field"
    .idea__form__box
      テキスト
      %br
      = f.text_area :text, class: "idea__form__box__field", id: "textarea"
    .idea__form__submit
      = f.submit "作成する", class: "idea__form__submit__btn"

